/* ---------- Main components start ---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #343a40;
  border-bottom: 8px solid #087f5b;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

header,
section {
  margin-bottom: 96px;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: #087f5b;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

img {
  border-radius: 12px;
}

/* ---------- Main components finish ---------- */

/* ---------- Header components start ---------- */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 44px;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 32px;
  text-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

img {
  width: 100%;
}

/* ---------- Header components finish ---------- */

/* ---------- First section components start ---------- */

h2 {
  font-size: 36px;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 80px;
}

.features-icon {
  stroke: #087f5b;
  height: 32px;
  width: 32px;
  margin-bottom: 24px;
}

.features-title {
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* ---------- First section components finish ---------- */

/* ---------- Second section components start ---------- */

.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 30px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  color: #e6fcf5;
  font-size: 18px;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 24px;
}

.testimonial-author {
  color: #c3fae8;
}

/* ---------- Second section components finish ---------- */

/* ---------- Third section components start ---------- */

.chair {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  height: 32px;
  width: 32px;
}

.chair-price {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

/* ---------- Third section components finish ---------- */

/* ---------- Footer components start ---------- */

footer {
  color: #495057;
  font-size: 14px;
  margin-bottom: 48px;
}

/* ---------- Footer components finish ---------- */
